@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.App {
  text-align: center;
}

a, .list-group-item-light {
  color: #4cdbc4!important
}

p {
  margin-top: revert !important;
}

.header {
  margin-bottom: 40px;
}

.nav-link, .navbar-brand {
  color: #ffff !important;
}

.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  padding: 20px;
  text-align: center;
}

.lights {
  padding-bottom: 20px;
}

.box {
  border: lightskyblue 1px solid;
  border-radius: 10%;
  box-shadow: 2px 2px 2px lightskyblue;
}

h1, h2, h3 {
  font-family: "Bowlby One SC", cursive;
}

.btn-primary {
  background-color: #4cdbc4;
  border-color: #4cdbc4;
}

.form-group {
  width: 300px;
}

.footer {
  text-align: left;
  background-color: grey;
  color: white;
  padding: 10px 20px 10px 20px;
}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
}

.disabledTile {
  color: black;
  background-color: #ffe8e7 !important;
}

.availableTile {
  background-color: lightgreen !important;
}

.navbar-brand {
  margin-right: auto !important;
}